@mixin respond-to($breakpoint) {
  @if $breakpoint =="sm" {
    @media (min-width: 576px) {
      @content;
    }
  }

  @if $breakpoint =="md" {
    @media (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint =="lg" {
    @media (min-width: 992px) {
      @content;
    }
  }

  @if $breakpoint =="xl" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;

  @include respond-to('sm') {
    max-width: 540px;
  }

  @include respond-to('md') {
    max-width: 720px;
  }

  @include respond-to('lg') {
    max-width: 960px;
  }

  @include respond-to('xl') {
    max-width: 1140px;
  }
}

@mixin theme($theme) {
  background-color: map-get($theme, "background");
  color: map-get($theme, "text");
}
