// Colors
$dark-blue: #0C2130;
$light-blue: #20C2ED;
$light-green: #27F1AC;
$white: #FFFF;
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$error-color: #dc3545;

// Themes colors
$light-mode: (
  "background": $white,
  "text": $dark-blue,
  "primary": $light-blue,
  "secondary": $light-green,
);

$dark-mode: (
  "background": $dark-blue,
  "text": $white,
  "primary": $light-blue,
  "secondary": $light-green,
);


// Font sizes
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: 0.875rem;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;